.tdrezamp {
padding-left:5px;
}
.topartist {padding:10px;background:#212121;margin-top:0px;margin-bottom:3px;width:130px;display:inline-table; word-wrap:break-word;}
.videoWrapper{position:relative;padding-bottom:56.25%;padding-top:25px;height:0;}
.videoWrapper iframe{position:absolute;top:0;left:0;width:100%;height:100%;}
.tlist2 {
background-color : #212121;
}

@media screen and (min-width: 720px){
.nganan {display:table-cell;margin-left:14px;width:30%;}
.ngiri {display:table-cell;width:65%;}
}

.topartist img:hover {transform: scale(1.3); transition: all 0.5s ease 0s;}
.topartist img {border:1px solid #4da0dc;border-radius:5px;}

.menu33, .file, .list_b {
background-color: #ffffff;
margin-bottom:2px;
padding:6px;
border:1px solid #0000FF;
color: #2E2E2E;
-moz-border-radius: 0px;
-webkit-border-radius: 0px 0px 10px 10px;
border-radius:0px 0px 10px 10px;
margin:0px 8px 8px 8px;
}

.bmenu1 { color: khaki; background-color: #2E2E2E; background-image: ; background-repeat: repeat-x; background-position: 50% top; margin-top: 1px; margin-bottom: 1px; padding: 1px; border: 1px solid #2E2E2E; }
.code { color: #a9a9a9; background-color: #2E2E2E; background-repeat: repeat-x; background-position: 50% top; margin-top: 1px; margin-bottom: 1px; padding: 2px; border: 1px solid #2E2E2E; }
.coklat1 { color: #bd0000; background-color: #050000; background-image: url(/img/200002/200002818_f27448bb27.gif); background-repeat: repeat-x; background-position: 50% bottom; margin-top: 1px; margin-bottom: 1px; padding: 2px; border: 1px solid #590000; }
.content { background-color: #333333; color: #fdfdfd; padding-top: 2px; padding-bottom: 2px; padding- left: 4px; padding-right: 4px; border-width: 1px; border-color: #7f1a2a; border-style: solid; }
.count { background-color: #121212; color: #444; border-width: 2px; border-color: #444; border-style: dashed; padding-top: 1px; padding-bottom: 1px; padding-left: 2px; padding-right: 2px; font-size: small; display: inline-block; white-space: nowrap; float: right; }
.foot { background: #2E2E2E url(/img/200016/200016978_86f66b5e19.jpg)center left
no-repeat; margin: 1px; padding: 4px; color: #
eee; display: block; text-
align: right; border: 1px solid #590000; }
.gm { background: #2e4354; padding: 0px 0 2px 0; color: #ffffff; }
.gm1 { background-color: #212121; margin-top: 1px; margin-bottom: 1px; padding: 2px; border: 1px solid #006600; }
.green { margin: 1px; margin-top: 1px; margin-bottom: 1px; text-align: none; font-weight: none; color: #00ff00; border: 1px #00ff00 solid; background-color: #007700; }
.head { background-color: #2E2E2E; font-size: 18px; font-weight: none; color: #fff; padding: 3px; border: 0px solid #444; border-bottom: 1px solid
#fff; text-align: center; text-shadow: 1px 1px 2px #111; }
.header { background-color: #404040; border-top-width: 1px; border-top-color: #7f1a2a; border-top-style: solid; border-bottom-width: 1px; border-bottom-color: #363636; border-bottom-style: solid; margin-top: 1px; margin-bottom: 1px; padding-top: 2px; padding-bottom: 2px; padding-left: 2px; }
.koes { color: #804405; background-color: #000406; background-image: url
(/img/3094/3094255_2bdc535aee.gif); background-repeat: repeat-x; background-position: 50% top; margin-top: 1px; margin-bottom: 1px; padding: 2px; border: 1px double #2f200e; }
.list3 { background-color: #D7D7D7; margin-top: 0px; margin-bottom: 0px; padding: 2px; border: 1px solid #232323; }
.list4 { color: #877cc9; background-color: #2E2E2E; background-image: ; background-repeat: repeat-x; background-position: 50% bottom; margin-top: 1px; margin-bottom: 1px; padding: 2px; border: 1px solid #800080; }
.list5 { background-color: #404040; border-top-width: 1px; border-top-color: orange; border-top-style: solid; border-bottom-width: 1px; border-bottom-color: orange; border-bottom-style: solid; margin-top: 1px; margin-bottom: 1px; padding-top: 2px; padding-bottom: 2px; padding-left: 2px; }
.lister { background-color: #252525; margin-bottom: 1px; padding-top: 2px; padding-bottom: 2px; padding-left: 3px; padding-right: 2px; font-weight: none; border: 1px solid #363636; display: block; }
.meta { background: #060 url(/img/200000/200000485_89e16a3b95.png)
top right no-repeat; margin-top: -3px; margin-botom: 1px; padding: 2px; border-bottom: 1px solid #080; border-left: 1px solid #080; }
.nav { background: #333 url(/img/200000/200000486_ef72fddf33.png)top right no-repeat; margin: 1px 5px 1px 2px; padding: 3px; list-style: none; border-bottom: 1px solid #555; border-left: 5px solid #555; }
.nav1 { background: #333 top right no-repeat; margin: 1px 1px 1px 1px; padding: 3px; list-style: none; border-bottom: 1px solid #555; border-left: 5px solid #555; }
.navi { color: #; border: 1px
solid #333333; background-image: url(/img/200002/200002817_0ddfaa9194.gif); background-repeat: repeat-x; background-position: 50% top; margin: 1px 0px 0px 0px; padding: 1px 1px 1px 1px; }
.omenu { background: #252525; border: 1px solid #f00000; padding: 1px; }
.phdr { text-shadow: #2E2E2E 1px 1px 0px; background-color: #7797ac; color: #fff; border-bottom: 1px solid #787878; padding: 3px 1px 3px 1px; margin: 0px; }
.red { padding: 1px; margin: 1px 1px; margin-top: 1px; margin-bottom: 1px; text-align: none; font-weight: none; color: #ff0000; border: 1px #ff0000 solid; background-color: #770000; }
.red1 { color: #bd2a43; border-width: 1px; border-color: #7f1a2a; border-style: solid; margin-top: 1px; margin-bottom: 1px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
.red2 { color: khaki;; background: #2E2E2E; border: 1px solid #2E2E2E; padding: 2px; }


input[type='submit'] {background:#2E2E2E;border-color:#2E2E2E #2E2E2E #2E2E2E;color:#fff; text-align:center} input[type='file'], input[type='password'], input[type='text'] {max-width: 90%; border:1px solid #333333; margin:2px; padding:2px} a:link, a:visited {
color : #000;
text-decoration : none;
}
a:hover {
color : #FFFF8A;
text-decoration : none;
}
input
[type='submit'] { background:#000; margin:2px;
padding:3px; border-top:2px
solid silver; border-left:2px
solid silver; border-bottom:2px
solid grey; border-right:2px
solid grey; color:#fff; font-
weight:bold; text-align:center }
input[type='file'], input
[type='password'], input
[type='text'] { max-width: 90%;
border: 1px solid #333333;
margin:1px; padding:2px }

input, textarea, select {
color : #6d6d6d;
background-color : #fff;
border : 1px solid #333333;
 max-widht: 90% ; max-height: 60px ; margin : 1px : padding :2px
}
input:hover, textarea:hover,
select:hover {
color : #fff;
background-color : #fff;
border : 1px solid #434343;
}
input:focus, textarea:focus,
select:focus {
color : #000;
background-color : #fff;
border : 1px solid #385400;
}
body {
color: #CCCCCC;
font-size : 12px;
background-color : #000;;
margin: 0px auto;
padding : auto;
border : 1px solid #3b3b3b;
font: 12px Arial;
max-width: 600px;
min-height:100%;
}
*{margin;auto;padding:auto}
form {
font-size : small;
margin : 0;
padding : 0;
}
h1, h2, h3, h4, h5, h6 { font-size : 12px;
margin : 0;
padding : 0;
padding-bottom : 2px;
}
hr {
margin-top : 2px;
margin-bottom : 2px;
border-top : 1px solid #
434343;
border-right-style : none;
border-right-width : 0;
border-bottom-style : none;
border-bottom-width : 0;
border-left-style : none;
border-left-width : 0;
}
p {
margin-top : 6px;
margin-bottom : 6px;
}
ul {
margin : 0;
padding-left : 20px;
}
.bmenu, .birumuda, .phdr, .hdr
{
color : #0084b5;
text-shadow : #2E2E2E 1px
1px 2px;
background-color : #000406;
background-image : url(/img/3068/3068006_a48667a3f6.gif);
background-repeat : repeat-x;
background-position : 50% top;
margin-top : 1px;
margin-bottom : 1px;
padding : 2px;
border : 1px solid #005064;
}
.bmenu a {
color : #0084b5;
border-bottom : 1px dotted #

004354;
}
.bmenu a:hover {
color : #25c5ff;
border-bottom : 1px dotted #
006882;
}
.clip {
color : #459bb1;
border : 1px solid #3f3f3f;
font-size : x-small;
background-color : #292929;
padding : 4px 4px 8px;
}
.gmenu {
color : #75bf00;
background-color : #030500;
background-image : url(/img/3068/3068007_e0b1d0e2fa.gif);
background-repeat : repeat-x;
background-position : 50% top;
margin-top : 1px;
margin-bottom : 1px;
padding : 2px;
border : 1px solid #415f00;
}
.gmenu a {
color : #75bf00;
border-bottom : 1px dotted #
223200;
}
.gmenu a:hover {
color : #96f400;
border-bottom : 1px dotted #
395400;
}}
.gmenu a:hover {
color : #96f400;
border-bottom : 1px dotted #
395400;
}.gray {
color : #586776;
}

.header, .footer {
margin: 1px;
padding: 1px;
background-image : ;
color : #a9a9a9;
text-shadow : #2E2E2E 1px
1px 2px;
background-color : #0a0a0a;
background-repeat : repeat-x;
background-position : 50% top;
margin-bottom : 1px;
padding : 2px;
border : 1px solid #333333;
}
.footer a:link {
color : #a9a9a9;
text-decoration : none;
border-bottom : 1px dotted #
3f3f3f;
}
.footer a:hover {
color : #d2d2d2;
text-decoration : none;
border-bottom : 1px dotted #
696969;
}
.left {
float : left;
}
.list1 {
background-color : #101010;
margin-top : 1px;
margin-bottom : 1px;
padding : 2px;
border : 1px solid #323232; text-align :left;
}
.list2 {
background-color : #D7D7D7;
margin-top : 1px;
margin-bottom : 1px;
padding : 2px;
border : 1px solid #323232; text-align : left;
}

.b, .c, .d, .menu, .news {
background-color : #D7D7D7;
background-image : url(/img/3068/3068008_1e2965b078.gif);
background-repeat : repeat-x;
background-position : 50%
bottom;
margin-top : 1px;
margin-bottom : 1px;
padding : 2px;
border : 1px solid #353535;
}

.wcode {
color : #00798f;
background-color : #001114;
border : 1px dotted #00272e;
margin-top : 4px;
padding : 0 2px;
}
.quote {
border-left : 4px solid #5c5c5c;
color : #b5b4b4;
text-shadow : #2E2E2E 1px
1px 2px;
font-size : x-small;
padding : 2px 0 2px 4px;
margin-left : 2px;
}
.red a:link, .red a:visited {
color : #d20000;
}
.reply {
border-left : 4px solid #ca0000;
color : #db0000;
padding : 2px 0 2px 4px;
}
.rmenu, .alarm {
color : #bd0000;
background-color : #050000;
background-image : url(/img/3068/3068010_45cedbbf98.gif);
background-repeat : repeat-x;
background-position : 50% top;
margin-top : 1px;
margin-bottom : 1px;
padding : 2px;
border : 1px solid #590000;
}
.status {
color : #3fa400;
text-shadow : #2E2E2E 3px
3px 4px;
font-weight : bold;
font-size : x-small;
padding-left : 0;
}
.tmn, .fmenu {
margin: 1px;
padding: 1px;
color : #b94201;
text-shadow : #2E2E2E 1px
1px 2px;
background-color : #020100;
background-image : url(/img/3128/3128222_2a66d97b4b.gif);
background-repeat : repeat-x;
background-position : 50%
bottom;
margin-top : 1px;
margin-bottom : 1px;
padding : 2px;
border : 1px solid #5c2901;
}
.tmn a:link, .tmn
a:visited, .fmenu a:link, .fmenu
a:visited {
color : #b94201;
text-decoration : none;
border-bottom : 1px dotted #
602200;
}
.tmn a:hover, .fmenu a:hover {
color : #ff5a00;
border-bottom : 1px dotted #
933400;
}

.w-100 {
    width: 100% !important;
}

.videoWrapper{position:relative;padding-bottom:56.25%;padding-top:25px;height:0;}
.videoWrapper iframe{position:absolute;top:0;left:0;width:100%;height:100%;}


.video-js .vjs-menu-button-inline.vjs-slider-active,.video-js .vjs-menu-button-inline:focus,.video-js .vjs-menu-button-inline:hover,.video-js.vjs-no-flex .vjs-menu-button-inline{width:10em}.video-js .vjs-controls-disabled .vjs-big-play-button{display:none!important}.video-js .vjs-control{width:3em}.video-js .vjs-menu-button-inline:before{width:1.5em}.vjs-menu-button-inline .vjs-menu{left:3em}.video-js.vjs-paused .vjs-big-play-button,.vjs-paused.vjs-has-started.video-js .vjs-big-play-button{display:block}.video-js .vjs-load-progress div,.vjs-seeking .vjs-big-play-button,.vjs-waiting .vjs-big-play-button{display:none!important}.video-js .vjs-mouse-display:after,.video-js .vjs-play-progress:after{padding:0 .4em .3em}.video-js.vjs-ended .vjs-loading-spinner{display:none}.video-js.vjs-ended .vjs-big-play-button{display:block!important}.video-js *,.video-js:after,.video-js:before{box-sizing:inherit;font-size:inherit;color:inherit;line-height:inherit}.video-js.vjs-fullscreen,.video-js.vjs-fullscreen .vjs-tech{width:100%!important;height:100%!important}.video-js{font-size:14px;overflow:hidden}.video-js .vjs-control{color:inherit}.video-js .vjs-menu-button-inline:hover,.video-js.vjs-no-flex .vjs-menu-button-inline{width:8.35em}.video-js .vjs-volume-menu-button.vjs-volume-menu-button-horizontal:hover .vjs-menu .vjs-menu-content{height:3em;width:6.35em}.video-js .vjs-control:focus:before,.video-js .vjs-control:hover:before{text-shadow:none}.video-js .vjs-spacer,.video-js .vjs-time-control{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-flex:1 1 auto;-moz-box-flex:1 1 auto;-webkit-flex:1 1 auto;-ms-flex:1 1 auto;flex:1 1 auto}.video-js .vjs-time-control{-webkit-box-flex:0 1 auto;-moz-box-flex:0 1 auto;-webkit-flex:0 1 auto;-ms-flex:0 1 auto;flex:0 1 auto;width:auto}.video-js .vjs-time-control.vjs-time-divider{width:14px}.video-js .vjs-time-control.vjs-time-divider div{width:100%;text-align:center}.video-js .vjs-time-control.vjs-current-time{margin-left:1em}.video-js .vjs-time-control .vjs-current-time-display,.video-js .vjs-time-control .vjs-duration-display{width:100%}.video-js .vjs-time-control .vjs-current-time-display{text-align:right}.video-js .vjs-time-control .vjs-duration-display{text-align:left}.video-js .vjs-play-progress:before,.video-js .vjs-progress-control .vjs-play-progress:before,.video-js .vjs-remaining-time,.video-js .vjs-volume-level:after,.video-js .vjs-volume-level:before,.video-js.vjs-live .vjs-time-control.vjs-current-time,.video-js.vjs-live .vjs-time-control.vjs-duration,.video-js.vjs-live .vjs-time-control.vjs-time-divider,.video-js.vjs-no-flex .vjs-time-control.vjs-remaining-time{display:none}.video-js.vjs-no-flex .vjs-time-control{display:table-cell;width:4em}.video-js .vjs-progress-control{position:absolute;left:0;right:0;width:100%;height:.5em;top:-.5em}.video-js .vjs-progress-control .vjs-load-progress,.video-js .vjs-progress-control .vjs-play-progress,.video-js .vjs-progress-control .vjs-progress-holder{height:100%}.video-js .vjs-progress-control .vjs-progress-holder{margin:0}.video-js .vjs-progress-control:hover{height:1.5em;top:-1.5em}.video-js .vjs-control-bar{-webkit-transition:-webkit-transform .1s ease 0s;-moz-transition:-moz-transform .1s ease 0s;-ms-transition:-ms-transform .1s ease 0s;-o-transition:-o-transform .1s ease 0s;transition:transform .1s ease 0s}.video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-active .vjs-control-bar,.video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive .vjs-control-bar,.video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-active .vjs-control-bar,.video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-control-bar,.video-js.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-control-bar{visibility:visible;opacity:1;-webkit-backface-visibility:hidden;-webkit-transform:translateY(3em);-moz-transform:translateY(3em);-ms-transform:translateY(3em);-o-transform:translateY(3em);transform:translateY(3em);-webkit-transition:-webkit-transform 1s ease 0s;-moz-transition:-moz-transform 1s ease 0s;-ms-transition:-ms-transform 1s ease 0s;-o-transition:-o-transform 1s ease 0s;transition:transform 1s ease 0s}.video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-active .vjs-progress-control,.video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive .vjs-progress-control,.video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-active .vjs-progress-control,.video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-progress-control,.video-js.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-progress-control{height:.25em;top:-.25em;pointer-events:none;-webkit-transition:height 1s,top 1s;-moz-transition:height 1s,top 1s;-ms-transition:height 1s,top 1s;-o-transition:height 1s,top 1s;transition:height 1s,top 1s}.video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-active.vjs-fullscreen .vjs-progress-control,.video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive.vjs-fullscreen .vjs-progress-control,.video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-active.vjs-fullscreen .vjs-progress-control,.video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive.vjs-fullscreen .vjs-progress-control,.video-js.vjs-has-started.vjs-playing.vjs-user-inactive.vjs-fullscreen .vjs-progress-control{opacity:0;-webkit-transition:opacity 1s ease 1s;-moz-transition:opacity 1s ease 1s;-ms-transition:opacity 1s ease 1s;-o-transition:opacity 1s ease 1s;transition:opacity 1s ease 1s}.video-js.vjs-live .vjs-live-control{margin-left:1em}.video-js .vjs-big-play-button{top:50%;left:50%;margin-left:-1em;width:2em;border:none;color:#fff;-webkit-transition:border-color .4s,outline .4s,background-color .4s;-moz-transition:border-color .4s,outline .4s,background-color .4s;-ms-transition:border-color .4s,outline .4s,background-color .4s;-o-transition:border-color .4s,outline .4s,background-color .4s;transition:border-color .4s,outline .4s,background-color .4s;background-color:rgba(0,0,0,.5);font-size:2.5em;border-radius:20%;height:1.4em!important;line-height:1.4em!important;margin-top:-.7em!important}.video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-content{font-size: 10px;overflow: hidden;background-color:rgba(0, 0, 0, 0.32);width:12em;padding-bottom:.5em}.video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-item,.video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-title{margin:.3em 0;padding:.5em;border-radius:.3em}.video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-item.vjs-selected{}.video-js .vjs-big-play-button:active,.video-js .vjs-big-play-button:focus,.video-js:hover .vjs-big-play-button{background-color:#cc181e}.video-js .vjs-loading-spinner{border-color:#cc181e}.video-js .vjs-control-bar2{background-color:#000}.video-js .vjs-control-bar{background-color:rgba(0,0,0,.3)!important;color:#fff;font-size:12px}.video-js .vjs-play-progress,.video-js .vjs-volume-level{background-color:#cc181e}.video-js .vjs-load-progress{background:rgba(255,255,255,.3)}.vjs-resolution-button {
  color: #ccc;
  font-family: VideoJS;
}
.vjs-tracksettings select{
  background-color: #363636 !important;  
}
.vjs-tracksettings {
 background-color: #363636;
    background-color: rgba(7, 7, 7, 0.75) !important;
}
.vjs-resolution-button .vjs-resolution-button-staticlabel:before {
  content: '\f110';
  font-size: 1.8em;
  line-height: 1.67;
}

.vjs-resolution-button .vjs-resolution-button-label {
    font-size: 1em;
    line-height: 3em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    box-sizing: inherit;
		font-family: Arial, Helvetica, sans-serif;
}
video-js .vjs-control:focus, .video-js .vjs-control:focus:before, .video-js .vjs-control:hover:before {
    text-shadow: none !important;
}

.vjs-resolution-button ul.vjs-menu-content {
  width: 4em !important;
}

.vjs-resolution-button .vjs-menu {
  left: 0;
}

.vjs-resolution-button .vjs-menu li {
  text-transform: none;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
}
.vjs-menu ul .vjs-menu-item{
    border-radius: 0 !important;
    background-color: transparent;
    color: #fff !important;
}
.vjs-menu ul .vjs-menu-item:hover {
    background-color: rgba(141, 141, 141, 0.45);
    
}
.vjs-menu ul .vjs-selected{
    width: 100%;
   border-radius: 0 !important;
   outline: 0;
   background-color: #cc181e;
   background-color: rgba(204, 24, 30, 0.6) !important;
}

.img-responsive {
width: 100%;
height: auto;
max-width: 100%;
}

.youtube {
            position: relative;
            padding-bottom: 56.23%;
            height: 0;
            overflow: hidden;
            max-width: 100%;
            background: #000;
            margin: 5px;
        }
        
        .youtube iframe,
        .youtube object,
        .youtube embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 100;
            background: transparent;
        }
        
        .youtube img {
            bottom: 0;
            display: block;
            left: 0;
            margin: auto;
            max-width: 100%;
            width: 100%;
            position: absolute;
            right: 0;
            top: 0;
            border: none;
            height: auto;
            cursor: pointer;
            -webkit-transition: .4s all;
            -moz-transition: .4s all;
            transition: .4s all;
        }
        
        .youtube img:hover {
            -webkit-filter: brightness(75%);
        }
        
        .youtube .play {
            height: 72px;
            width: 72px;
            left: 50%;
            top: 50%;
            margin-left: -36px;
            margin-top: -36px;
            position: absolute;
            background: url("//i.imgur.com/TxzC70f.png") no-repeat;
            cursor: pointer;
        }


.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden; }
  .embed-responsive::before {
display: block;
content: ""; }
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object,
  .embed-responsive video {
position: absolute;
top: 0;
bottom: 0;
left: 0;
width: 100%;
height: 100%;
border: 0; }

.embed-responsive-21by9::before {
  padding-top: 42.85714%; }

.embed-responsive-16by9::before {
  padding-top: 56.25%; }

.embed-responsive-4by3::before {
  padding-top: 75%; }

.embed-responsive-1by1::before {
  padding-top: 100%; }