@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:url(/assets/OpenSans-Regular.ttf);}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;src:url(/assets/OpenSans-SemiBold.ttf);}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:700;src:url(/assets/OpenSans-Bold.ttf);}
body{color:#ffffff;background-color:#1676c2;font-size:13px;font-family:'Open Sans', sans-serif;font-weight:400;text-align:center;margin:0;}
#nav{max-width:600px;border-bottom:1px #156aae solid;margin:0 auto 30px auto;padding:5px 0;}
#nav a{color:#ffffff;text-decoration:none;margin-right:5%;} /*m:30px;*/
#nav a:last-child{margin-right:0;}
#content{max-width:600px;margin:0 auto;}
#content #logo{border:none;margin:0 auto 60px auto;}
#content h1{font-size:26px;font-weight:400;margin:0;}
.text{color:#2c2c2c;background-color:#ffffff;text-align:justify;width:96.66666666666667%;border-radius:2px;margin-top:15px;padding:1.666666666666667%;}/*w:580px;p:10px;*/
.text p{line-height:23px;width:100%;}
.text p:first-of-type{margin-top:0;}
.text p:last-of-type{margin-bottom:0;}
.text p a:link, .text p a:visited{color:#2c2c2c;}
.text p a:hover, .text p a:active{text-decoration:none;}
.text p .strong{font-weight:700;}
.text form{width:100%;border-top:1px #f0f0f0 solid;margin-top:15px;padding-top:15px;}
.text form div{margin-bottom:15px;}
.text input[type=text]{color:#282828;background-color:#f8f8f8;font-size:13px;font-family:'Open Sans', sans-serif;font-weight:400;width:41.03448275862069%;height:30px;border:1px #d5d5d5 solid;border-radius:2px;margin-top:5px;padding:0 1.03448275862069%;} /*w:238px;p:6px;*/
.text .t_large{width:75.51724137931034% !important;} /*w:438px;*/
.text textarea{color:#282828;background-color:#f8f8f8;font-size:13px;font-family:'Open Sans', sans-serif;font-weight:400;width:75.51724137931034%;height:150px;border:1px #d5d5d5 solid;border-radius:2px;margin-top:5px;padding:1.03448275862069%;resize:none;} /*w:438px;p:6px;*/
.text .ta_small{height:100px;}
.text input[type=submit]{color:#ffffff;background-color:#2c2c2c;font-size:13px;font-family:'Open Sans';font-weight:600;border:none;border-radius:2px;padding:5px 1.724137931034483%;-webkit-appearance:none;cursor:pointer;} /*p:10px;*/
.text #error{font-weight:700;width:100%;border-top:1px #f0f0f0 solid;margin-top:15px;padding-top:15px;}
#footer{max-width:600px;border-top:1px #156aae solid;margin:30px auto 0 auto;padding:5px 0;}
#footer a{color:#ffffff;text-decoration:none;margin-right:5%;} /*m:30px;*/
#footer a:last-child{margin-right:0;}
@media only screen and (max-width:600px) {
   #logo{width:50%;}
   .text{width:92.66666666666667%;margin:15px auto 0 auto;} 
   .text input[type=text]{font-size:16px;width:61.03448275862069%;}
   .text textarea{font-size:16px;width:95.51724137931034%;}
}
